@charset "utf-8";

/*** 
---------------------------------------------------
    Author : ACHRAF FAYTOUT
    project : Into the wild of DataScience
    Css file : login.html
---------------------------------------------------
/*** 
/* default settings */
*{
    padding: 0;
    margin: 0;
}
/* ------------------- Nav bar css ---------------- */
.nav-bar{
    width: 100%;
    height: 8vh;
    background-color: white;
    /* border-bottom: 1px solid gray;*/
    box-shadow: -10px 1px 8px #000;
}
.nav-bar .logo{
    float: left;
    width: 30%;
    margin-left: 100px;
    height: 85%;
    padding: 5px;
}
.nav-bar img{
    width: 220px;
    height: 40px;
}
.nav-bar .logo p{
    color: gray;
    padding-left: 16px;
    font-family:'Dancing Script';
}
.nav-bar a{
    float: right;
    color: gray;
    text-decoration: none;
    font-size: 20px;
    font-family:'montserrat';
    margin-right: 100px;
    margin-top: 2.4vh;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}
/* ----------------------- Login Form ----------------- */
.form-login{
    width: 40%;
    height: 40vh;
    margin: 150px auto;
    text-align: center;
}
.form-login p{
    font-size: 25px;
    font-family: 'montserrat';
    text-transform: uppercase;
}
.form-login span{
    border-bottom: 2px solid #000;
    padding-bottom:10px ;
}
.form-login form{
    width: 60%;
    height: 50%;
    margin:auto;
    margin-top : 100px;
}
.form-login form input[type="email"],[type = "password"]{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    outline: none;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition : 0.5s;
    font-family: 'montserrat';
}
.form-login form input[type="email"]:focus,[type = "password"]:focus{
    border: 3px solid #000;
}
.form-login form input[type= "submit"]{
    width: 30%;
    height: 40px;
    margin-top: 30px;
    background-color: gray;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 100px;
    font-family: 'montserrat';
    font-size: 18px;
}
.form-login form input[type= "submit"]:hover{
    background-color: #000;
    -webkit-transition: ease-in-out;
    transition: 0.5s;
}
/* ------------------------- copyrights --------------------- */
.copyr{
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.copyr img{
    height: 12px;
    width: 12px;
    padding-right : 10px;
    opacity: 0.6;
}
.copyr p{
    float: right;
    font-family: 'montserrat';
    font-weight:bold;
    color: gray;
    font-size: 12px;
}
/* ----------- 27/02/2022 ----------- */