@charset "utf-8";

/*** 
---------------------------------------------------
    Author : ACHRAF FAYTOUT
    project : Into the wild of DataScience
    Css file : home.html
---------------------------------------------------
/*** 
/* default settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
    height: 30px;
    width: 100%;
    background-color: gray;
}
.nav-bar img{
    float: left;
    margin-left: 100px;
}
.nav-bar ul{
    float: right;
    margin-right: 100px;
    margin-top:6px ;
}
.nav-bar ul li{
    float: right;
    text-decoration: none;
    outline: none;
    list-style: none;
    margin-left:10px;
    color:#fff;
}