{% extends "homeBase.html" %}

{% block content %}
        
        <!-- End new items -->
        <div class="content-aside">
        <div class="title-1">
            <h1>Data Description</h1>
            <p>Data set sous forme d'un tableau pour visualiser clairement les données.</p>
        </div>
        <div class="all-table">
            <table class = "table">
                <thead class="table-light">
                    <tr>
                        {% for i in Rows[0].keys() %}
                        <th scope="col">{{i}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in Rows %}
                        <tr>
                            {% for i in row.keys() %}
                            <td>{{row[i]}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
{% endblock %}