<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="../static/style.css" type="text/css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:ital@1&display=swap" rel="stylesheet">
        </head>
        <body>
            <!--our first div included : logo(DS) and paragraph-->
            <div class="nav-bar">
                <div class="logo">
                    <img src="{{ url_for('static',filename = 'rec/LogoDS.png')}}" alt="logo">
                    <p>ENSAM-Meknes</p>
                </div>
                <a href="register">Register</a>
            </div>
            <!--second div included : text & form for login-->
            <div class="form-login">
                <p>
                    <!--Span to wrap the text-->
                    <span>Welcome back !</span>
                </p>
                <!--we will put actios later here-->
                <form action="/af_login" method="POST">
                    <input type="email" placeholder="E-mail adresse" name="email">
                    <input type="password" placeholder="Password" name="password">
                    <input type="submit" value="Login">
                </form>
            </div>
            <!--Copy-rights-->
            <div class="copyr">
                <img src="{{ url_for('static',filename = 'rec/copy-rights.png')}}" alt="copy-rights">
                <p>All rights are reserved - 2022 (GIIA)</p>
            </div>
        </body>
    </html>