{% extends "base.html" %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
                <div class="form-login">
                    <div class="formContainer">
                        <h1 class="text-center">Welcome back !</h1>
                        <br>
                        <br>
                        <form action="/login" class="form-signin loginForm" method="POST">
                            <div class="inputContainer">
                                <i class="fa-solid fa-user"></i>
                                <input type="email" placeholder="E-mail adresse" class="form-control userNameInput input" name="email">
                            </div>
                            <div class="inputContainer">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" placeholder="Password" class="form-control userNameInput input" name="password">
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn loginBtn" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
                <div style="background-color: hsla(221, 76%, 63%, 0.05);">
                    <p>&#169; All rights are reserved - 2022 (GIIA)</p>
                </div>
{% endblock %}