<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf_8">
        <title>Home page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
              margin: 10px 0;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
        </style>
        <link rel="stylesheet" href="../static/styleIn.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <table>
                    {%for key in results%}
                        <tr> 
                            <td> {{ key }} </td>
                            <td class="col-md-2">{{ results[key]|round(4) }}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
            <form action="/missingValues" method="POST">
                <div class="form-group">
                  <label for="rate">Rate</label>
                  <input type="number" class="form-control" id="rate" name="rate" aria-describedby="rate" placeholder="rate" min="0" max="1" step="0.0001">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="methode" id="inlineRadio1" value="mean">
                    <label class="form-check-label" for="inlineRadio1">Mean</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="methode" id="inlineRadio2" value="median">
                    <label class="form-check-label" for="inlineRadio2">Median</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="methode" id="inlineRadio3" value="eod">
                    <label class="form-check-label" for="inlineRadio3">eod</label>
                  </div>
                <br>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
            {% if finalResult %}
            <div class="row">
                <table>
                    {%for key in finalResult%}
                        <tr> 
                            <td> {{ key }} </td>
                            <td class="col-md-2">{{ finalResult[key]|round(4) }}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </body>
</html>